<div class="Doctor_info_appointment">
    <div class="Doctor_photo">
      <img [src]="getSafeImageUrl(doctor.photo)" alt="Doctor Image">
    </div>
    <div class="Doctor_fullname">
      <h2>{{ doctor.name }} {{ doctor.surname }}</h2>
      <p>{{ doctor.position }}</p>
      <div class="stars">
        <img src="assets/star.png">
        <img src="assets/star.png">
        <img src="assets/star.png">
        <img src="assets/star.png">
        <img src="assets/star.png">
      </div>
    </div>
    <div class ="vertical_line">
        <img src="assets/Vector7.png" alt="vertical_line">
    </div>
    <div class="Doctor_cv">
        <p>2017 - დღემდე, ჩვენი კლინიკის გენერალური დირექტორი</p>
        <p>2002 - დღემდე, ჩვენი კომპიუტერული ტომოგრაფიის განყოფილების ხელმძღვანელი</p>
        <p>2017 - დღემდე, ჩვენი კლინიკის გენერალური დირექტორი</p>
    </div>
  </div>
  