@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: auto;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff) format('woff');
  }

.adminpage {
    min-height: 710px;
    width: 100%;
}

.top-navigation {
    margin: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vh
}

.top-navigation button {

    width: 350px;
    height: 50px;
    color: #18A4E1;
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: FIraGo;
    border-radius: 50px;
    border: 1px solid  #18a5e160;
    cursor: pointer;
}

.top-navigation button:hover{
    color: #FFFFFF;
    background-color: #18A4E1;
}

.top-navigation button.tabhover{
    background-color: #18A4E1;
    color: #FFFFFF;

}


.registration-container {
    display: grid;
    margin: 0 auto; 
    width: 80%; 
    min-height: 600px;
}


h2 {
    font-size: 1.3vw; 
    font-weight: bold;
    margin-bottom: 0.1vw; 
    margin-top: 5vh;
    margin-bottom: 5vh; 
    color: #18A4E1;
}

label {
    color: #053354;
    font-weight: none;
    display: block;
}

.inputfields ,
.form-group select {
    justify-content: space-around;
    width: 100%;
}

.form-group {
    gap: 3vh; 
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5vw; 
}

.form-group input,
.form-group select {
    border: 1px solid rgba(235, 231, 231, 0.4);

    margin-top: 0.5vw; 
    padding: 1vw; 
    box-shadow: #2d5b88;
    width: 80%;
    border-radius: 3vw;
    background: rgba(235, 231, 231, 0.4);
    height: 15%;

}

.form-group button {
    cursor: pointer;
    border: none;
    border-radius: 3vw;
    margin-left: 1.5vh;
}

.form-group button img {
    width: 1.5vw;
    height: auto;
    display: block;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.form-group input:hover{
    margin-top: 0.5vw; 
    padding: 1vw; 
    box-shadow: #2d5b88;
    width: 80%;
    border-radius: 3vw;
    height: 15%;
    border: 1px solid #18A4E1;
}
.input-with-button{
    height: 1vh;
    margin-top: 3vh;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5vw;
    gap: 3.5vw;
}

.form-row .form-group {
    /* margin-right: 3.5vw; */
    flex: 1;
    margin-bottom: 1vw;
}


.button-container {
    text-align: right;
}

button[type= "register"] {
    padding: 0.5vw 1vw; 
    font-size: 0.8vw; 
    background-color: #053354;
    color: #fff;
    border-radius: 2vw;
    cursor: pointer;
}
.error-message {
    color: #FF0000; 
    font-size: 1.5vh;
    margin-top: 2.8vh;
}
.invalid-input {
    border: 1px solid red;
  }

.succes_reg{
    display: flex;

    flex-direction: row;
    justify-content: center;
}
.content_Wrap_Reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10vh;

}
.content_Wrap_Reg p{
    font-size: 3vh;
    font-weight: 600;
    margin: 2vh;
}





.doctor_Empty{
    text-align: center;
}








.doctors-container,
.Users-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.doctors_body,
.users-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom:20vh;

}



.Doctor_photo img,
.user_photo img{
    width: 40px;
    height: 39px;
    border-radius: 50%;
}


table {
    width: 100%;
    border-collapse: collapse;
    align-self: center;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
    color: #053354;
    font-size: 16px;
    font-weight: 500;
    font-family: FiraGO , sans-serif;
}

th {
    background-color: #F0FAFF;
    border:none;
    color : #053354;
    font-size: 16px;
    font-family: FiraGo;
}
tr{
    border-bottom: 1px solid #ECF2F8;
}



.edit-button {
    padding: 5px;
    margin: 2px;
    border: none;
    background-color: #DAFAEE;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #DAFAEE
}

.delete-button{
    padding: 5px;
    margin: 2px;
    border: none;
    background-color: #FF93A6;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #FF93A6
}

.edit-button:hover {
border: 1px solid #076341
}

.delete-button:hover{
    border: 1px solid #3f2026
}


.blur-background {
    backdrop-filter: blur(0.25vw);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


app-doctor-manage{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;

}

app-user-manage{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;

}