<footer>
    <div class="grid-sections">
      <div class="logo-section">
        <img src="assets/logo2.png" alt="logo2">
        <span class="clinic-textWhite">კლინიკა</span>
      </div>
      <div class="sections">
        <div class="for-doctors">
          <div class="section-title">ინფორმაცია</div>
          <ul>
            <li>ჩვენს შესახებ</li>
            <li>პარტნიორები</li>
            <li>ექიმებისთვის</li>
            <li>კლინიკებისთვის</li>
            <li>აფთიაქებისთვის</li>
          </ul>
        </div>
        <div class="for-patients">
          <div class="section-title">პაციენტებისთვის</div>
          <ul>
            <li>ექიმები</li>
            <li>კლინიკები</li>
            <li>ანოტაციები</li>
            <li>ბლოგი</li>
            <li>მედია</li>
          </ul>
        </div>
        <div class="contact-info">
          <div class="section-title">კონტაქტი</div>
          <div class="contact-details">
            <li>სამუშაო დღეები: ორშ - პარ</li>
            <li>სამუშაო დრო: 9:00 - 17:00</li>
            <li>იაკობ ნიკოლაძე N_10</li>
            <li>032 2 100 100</li>
          </div>
        </div>
        <div class="follow-us-section">
          <div class="section-title">გამოგვყევით</div>
          <div class="social-icons">
            <li>facebook</li>
            <li>Instagram</li>
            <li>Youtube</li>
          </div>
        </div>
      </div>
    </div>
  </footer>
